# Mission to Mars

In [95]:
 # Dependencies
import requests
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
import os as os
from webdriver_manager.chrome import ChromeDriverManager

In [96]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [97]:
# Define database and collection
db = client.mars
collection = db.articles

In [98]:
# Setup splinter
executable_path = {'executable_path': r'\Users\holly\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# Mars News

In [72]:
 # URL to obtain title and paragraph
url = 'https://redplanetscience.com/'

# Retrieve page with the requests module
browser.visit(url)
html = browser.html
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(html, 'html.parser')

In [76]:
# collect the latest News Title and Paragraph Text. Assign the text to variables 
# that you can reference later.
 
header = soup.find('div', class_='content_title').text
subheader = soup.find('div', class_='article_teaser_body').text

print(header)
print(subheader)

While Stargazing on Mars, NASA's Curiosity Rover Spots Earth and Venus
This new portrait of the Red Planet's neighbors was taken during a time when there's more dust in the air on Mars.

# Mars Image

In [110]:
# Visit the url for JPL Featured Space Image.
url = 'https://spaceimages-mars.com/'
browser.visit(url)

# Select "FULL IMAGE".
browser.links.find_by_partial_text('FULL IMAGE').click()

# HTML Object.
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [111]:
# Get relative path of main image
img_url = soup.find('img',class_="fancybox-image").get("src")
featured_image_url = url + img_url
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

# Mars Facts

In [117]:
url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(url)
df = tables[1]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers